<!DOCTYPE html>
<html>
<body>

<h1> Argument Mining Framework for Relation Prediction in Argument pairs.</h1>

<p> <b>Expected Input:</b> xAIF file containing the proposition nodes (information nodes) in argument. </p>
<h3> Functionality: Predict  relations between pairs of propositions (I-nodes), and predicted relations are RA(Default Inference) and CA(Default Conflict) </h3>
<p> <b>Expected Output:</b> xAIF file containing the input and new nodes (i.e RA,CA) which are related relations between nodes, and edges information which are connected between I nodes throughput the relation nodes
</body>
</html>